.mag-button {
  display: block;
  border: none;
  padding: var(--spacing-xs) var(--spacing-lg);
  font-size: var(--font-size-md);
  border: 2px solid transparent;
  cursor: pointer;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
  }

  &__filled {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--primary-color-hover);
    }

    &:active {
      background-color: var(--primary-color-active);
    }
  }

  &__outlined {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

    &:hover {
      background-color: var(--transparent-hover);
    }

    &:active {
      background-color: var(--transparent-active);
    }
  }

  &__text {
    background-color: transparent;
    color: var(--primary-color);

    &:hover {
      background-color: var(--transparent-hover);
    }

    &:active {
      background-color: var(--transparent-active);
    }
  }

  &__disabled {
    opacity: 0.7;
    cursor: not-allowed;
    user-select: none;
    border-style: dashed;
  }

  &__loading {
    opacity: 0.7;
    cursor: wait;
  }
}
