.mag-select-value {
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 2px solid var(--primary-color);
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--spacing-2xs);
  align-items: center;
  justify-content: space-between;

  &__placeholder {
    color: var(--neutral-600);
  }

  &__text {
    overflow: hidden;
    white-space: nowrap;
  }
}
